<div id="centerhead"><h1 class="kara">KARA-OK!</h1></div>
<div class="song_background">
<h1><%= @song.artist %> - <%= @song.title %></h1>
<div class="edit_song"><%= link_to 'Return to Previous', song_path(@song) %></div>

<%= form_for @song do |f| %>

  Artist <%= f.text_field :artist %><br>
  Title <%= f.text_field :title %>
  <div class="edit_video">
    Youtube url <%= f.text_field :video_url %>
  </div>
  <br>
  Lyrics<br>
  <div class="lyrics"><%= f.text_area :lyrics %></div>
  <br>

  <%= f.submit %>
<% end %>

<br></br>
</div>

