<div class="playlists_background">
<div id="centerhead"><h1 class="kara">KARA-OK!</h1></div>
<h1>Songs from all Playlists</h1>

<h3>Add Song to Repetoire</h3>
<%= form_tag add_to_songs_path do %>
  <label>Artist </label><%= text_field_tag :artist %>
  Title <%= text_field_tag :title %>
  <%= submit_tag "Add Song" %>
<% end %>
<br>

<% if flash[:alert] %>
    <div class="alert"><%= flash[:alert] %></div>
<% end %>

<% @songs.each do |song| %>
  <ul>
    <li><%= link_to "#{song.artist} - #{song.title} || Playlist: #{song.playlists.name}", song_path(song) %></li>
  </ul>
<% end %>

<br></br>
</div>