<div class="playlists_background">

<h1 class="kara">KARA-OK!</h1>
<div id="playlisthead"><h1>Playlists |</h1><h2><%= link_to "Playlist Songs", playlist_songs_path %></h2></div>
<h3>Create New Playlist</h3>
<%= form_for @playlist do |f| %>
  <%= f.label "Playlist Name" %>
  <%= f.text_field :name %>

  <%= f.collection_select :user_id, User.all, :id, :username, class: "profile_select" %>
  <%= f.submit 'Create Playlist', class: "button" %>
<% end %>
<br>
<% if @playlist.errors.any? %>
  <div class="error" %>
    <%= @playlist.errors[:name].first %>
  </div>
  <% end %>
<br>
<% @playlists.each do |playlist| %>
    <h4><%= link_to "#{playlist.name}", playlist_path(playlist) %></h4>
      <% playlist.songs[0..2].each do |song| %>
      <ul>
        <li><%= link_to "#{song.artist} - #{song.title}", "/songs/#{song.id}/#{playlist.id}", method: "get" %></li>
      </ul>
      <% end %>
      <br>
<% end %>

<br></br>
</div>