<!DOCTYPE html>
<html>
  <head>
    <title>FlatironModTwoProjectRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Mukta&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Subrayada&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sen&display=swap" rel="stylesheet">
  </head>

  <body>
  <header>
    <%= link_to 'Playlists', playlists_path, class: "header_playlist" %> <div class="pole">|</div> 
    <%= link_to 'Song Vault', songs_path, class: "header_song" %>
  </header>
    <%= yield %>
  </body>
</html>
